<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hof-bootcamp" >
	<tr>
		<td>
			<f:translate key="tx_hofbootcamp_domain_model_student.username" />
		</td>
		<td>
		{student.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hofbootcamp_domain_model_student.password" />
		</td>
		<td>
		{student.password}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hofbootcamp_domain_model_student.first_name" />
		</td>
		<td>
		{student.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hofbootcamp_domain_model_student.last_name" />
		</td>
		<td>
		{student.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hofbootcamp_domain_model_student.email" />
		</td>
		<td>
		{student.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hofbootcamp_domain_model_student.image" />
		</td>
		<td>
				<f:image src="{student.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>
</html>