<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="username">
	<f:translate key="tx_hofbootcamp_domain_model_participant.username" />
</label><br />
	<f:form.textfield property="username" /><br />
<label for="password">
	<f:translate key="tx_hofbootcamp_domain_model_participant.password" />
</label><br />
	<f:form.textfield property="password" /><br />
<label for="firstName">
	<f:translate key="tx_hofbootcamp_domain_model_participant.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_hofbootcamp_domain_model_participant.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="email">
	<f:translate key="tx_hofbootcamp_domain_model_participant.email" />
</label><br />
	<f:form.textfield property="email" /><br />
</html>